
body{
  background-color: #F5EDDC;
}

/* Perfume Image */

img{
  width: 300px;
  height: 450px;
  border-radius: 15px 0 0 15px;
  position: relative;
  right: 15px;
  float: left;
}

/* Heading */

.heading {
  font-size: xx-large;
  color: black;
  font-family: 'Fraunces', serif;
}

/* Text Rendering 'PERFUME' */

.perfume-text{
  font-family: 'Ibarra Real Nova', serif;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

/* Div containing Title and Paragraph */

.content-text{
  position: relative;
  left: 25px;
  padding-right: 75px;
  padding-top: 20px;
  padding-left: 20px;
}

/* Paragraph Text */

.content-para{
  color: hsl(228, 12%, 48%);
  font-family: Montserrat, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

/* Actual Price */

.price-new {
  color: #3d8168;
  font-size: xx-large;
  font-family: 'Fraunces', serif;
  float: left;
}


/* Old Price */

.price-old{
  position: relative;
  left: 15px;
  top: 10px;
  text-decoration-line: line-through;
  font-size: small;
  color: hsl(228, 12%, 48%);
}

/* Div containers for all contents */

.info{
  position: absolute;
  top: 120px;
  left: 370px;
  z-index: 1;
}

.card-content-box{
  width: 610px;
  height: 450px;
  position: relative;
  /* left: 30px; */
  border-radius: 0 15px 15px 0;
  padding: 10px 10px 10px 10px;
  background-color: white;
  z-index: -1;
}

/* Add To Cart Button */

.btn-primary{
  position: relative;
  background-color: #3d8168;
  color: white;
  border: 0px;
  width: 250px;
  height: 50px;
  left: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  z-index: 2;
  border-radius: 5px;
  --bs-btn-hover-bg: #0d543a
}

.cartIcon{
  padding-right: 5px;
  font-weight: bolder;
  width: 25px;
  height: 17px;
  z-index: 3;
} 


/* .footer-div{
  position: absolute;
  bottom: 50px;
  left: 400px;
} */
