
body{
  background-color: #F5EDDC;
  min-height: 100vh;
  display: grid;
  place-content: center;
  z-index: -3;
}

main{
  height: 450px;
  width: 580px;
  z-index: 1;
}

.card-img{
  width: 280px;
  height: 450px;
  border-radius: 15px 0 0 15px;
  position: relative;
  float: left;
  margin: 0%;
}

.heading {
  font-size: xx-large;
  color: hsl(0, 0%, 0%);
  font-family: 'Fraunces', serif;
  position: relative;
  left: 10px;
  top: 15px;
  padding: 0 25px 0 15px;
}

.perfume-text{
  font-family: 'Ibarra Real Nova', serif;
  letter-spacing: 3px;
  padding-bottom: 5px;
  position: relative;
  top: 5px;
  left: 30px;
}

/* .content-text{
  position: relative;
  left: 25px;
  bottom: 400px;
  padding-right: 60px;
  padding-top: 20px;
  padding-left: 20px;
} */

.content-para{
  color: hsl(228, 12%, 48%);
  font-family: Montserrat, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
  position: relative;
  left: 10px;
  top: 25px;
  padding: 0 25px 0 15px; 
}

.price-new {

  color: #3d8168;
  font-size: xx-large;
  font-family: 'Fraunces', serif;
  float: left;
  position: relative;
  left: 25px;
  top: 50px;

}

.price-old{

  position: relative;
  left: 35px;
  top: 55px;
  text-decoration-line: line-through;
  font-size: small;
  color: hsl(228, 12%, 48%);

}

.card-content{
  width: 300px;
  height: 450px;
  position: absolute;
  left: 700px;
  border-radius: 0 15px 15px 0;
  padding: 10px 10px 10px 10px;
  background-color: hsl(0, 0%, 100%);
  z-index: -1;
}


.btn-primary{
  position: relative;
  background-color: #3d8168;
  color: hsl(0, 0%, 100%);
  border: 0px;
  width: 250px;
  height: 50px;
  left: 20px;
  top: 65px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  z-index: 2;
  border-radius: 5px;
  --bs-btn-hover-bg: #0d543a
}

.cartIcon{
  padding-right: 5px;
  font-weight: bolder;
  width: 25px;
  height: 17px;
  z-index: 3;
} 

/* .footer-div{
  position: absolute;
  bottom: 50px;
  left: 400px;
} */
