
body{
  background-color: #F5EDDC;
}

img{
  width: 300px;
  height: 450px;
  border-radius: 15px 0 0 15px;
  position: relative;
  right: 15px;
  float: left;
}

.heading {
  font-size: xx-large;
  color: black;
  font-family: 'Fraunces', serif;
}

.perfume-text{
  font-family: 'Ibarra Real Nova', serif;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.content-text{
  position: relative;
  left: 25px;
  padding-right: 75px;
  padding-top: 20px;
  padding-left: 20px;
}

.content-para{
  color: hsl(228, 12%, 48%);
  font-family: Montserrat, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.price-new {
  color: #3d8168;
  font-size: xx-large;
  font-family: 'Fraunces', serif;
  float: left;
}

.price-old{
  position: relative;
  left: 15px;
  top: 10px;
  text-decoration-line: line-through;
  font-size: small;
  color: hsl(228, 12%, 48%);
}

.info{
  position: absolute;
  top: 120px;
  left: 370px;
}

.card-content-box{
  width: 610px;
  height: 450px;
  position: relative;
  /* left: 30px; */
  border-radius: 0 15px 15px 0;
  padding: 10px 10px 10px 10px;
  background-color: white;
  z-index: -1;
}


.addToCartBtn{
  position: relative;
  background-color: #3d8168;
  color: white;
  border: 0px;
  width: 250px;
  height: 50px;
  left: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.addtoCartBtn: hover{
  background-color: dark-green;
  
  
}

.bi-cart3{
  padding-right: 15px;
  font-weight: bolder;
} 


/* .footer-div{
  position: absolute;
  bottom: 50px;
  left: 400px;
} */
